alembic==1.4.3
Babel==2.9.0
click==7.1.2
Flask==1.1.2
flask_sqlalchemy
flask_migrate
flask-moment
flask-wtf
Jinja2==2.11.2
python-dateutil==2.8.1
python-editor==1.0.4
SQLAlchemy==1.3.20
virtualenv==20.2.2
WTForms==2.3.3